/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* Loading Style */
.loadingPage{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 99;
}


.loadingFrame{
    top:45%;
    position: absolute;
    align-items: center;
    left: 42%;
    right: 42%;
    width: 16%;
    padding-top:16%;
    height: auto;
    align:center;
    background-color: black;
    border-radius: 10px;
    margin: auto;
    z-index: 99;
}

.loadingIcon{
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}



.popUpPage{
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: transparent*/
    background-color: rgba(0,0,0,0.3);
    z-index: 99;
}


.popUpFrame{
    position: absolute;
    top:10%;
    bottom: 47%;
    left: 7%;
    right: 7%;
    width: 86%;
    height: 43%;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: auto;
    z-index: 99;
}

/* Loading Style end */
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/

